.menuBg{
    background-color: var(--nc-lk-1);
    align-items: center;
}
.menuBg p{
    margin: 0;

    text-align: center;
    text-transform: uppercase;
    background-color: var(--nc-lk-1);
    color: var(--nc-tx-2);
}
.topnav{
    margin: 0;
}
#toggle{
    display: none;
}
.topmenu{
    display: flex;
    flex-flow: column;
    margin: 0;
    position: fixed;
    width: 75%;
    top: 3rem;
    right: -80rem;
    z-index: 9;
    background-color: var(--yellow-bg);
    transition: all .5s ease;
    border-radius: 1rem;
}
.topmenu a{
    display: block;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--nc-tx-2);
}
.topnav label:hover,
.topnav label:active{
    background-color: var(--red-bg);
}
.topnav label{
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0 .3rem;
    font-size: 1.5rem;
    border: 1px solid var(--nc-tx-2);
    border-radius: .2rem;
}
#toggle:checked ~ .topmenu{
    right: 2.3rem;
    transition: all .5s ease;
} 
.topmenu section{
    margin: 0;
}
.socialbutts {
    display: flex;
    flex-flow: row;
    justify-content: space-around;

}
.socialbutts a{
    padding: .5rem 1rem;
    border: 0;
}
@media screen and (min-width:60rem) {
    
    .menuBg{
        display: grid;
        flex-flow: row;
        grid-template-columns: 1fr 5.25fr;
        background-color: var(--menuBg);
        margin: 0;
        padding: 0;
        background-color: var(--nc-lk-1);
    }
    .menuBg p{
        background-color: transparent;
        padding: 1.5rem 0;
    } 
    .topmenu{
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        flex-flow: row;
        justify-content: flex-end;
        transition: none;
        padding: 1rem 0;
    }
    .topmenu a{
        border: 0;
    }
    .topnav{
        background-color: var(--yellow-bg);
    }
    .topnav label{
        display: none;
    }
}
