.zoom {
    transition: transform .2s, filter .2s, box-shadow .2s;
    width: auto;
    height: auto;
    margin: 0 auto;
    filter: brightness(0.9); /* Initial darken effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Initial shadow effect */
}

.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    filter: brightness(0.7); /* Darken more on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}